:root {
  --primary: #fff;
  --bg: #010101;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #4caf50;
  border: none;
  font-weight: bold;
  color: black;
  padding: 8px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.button2 {
  background-color: #fff;
  border: none;
  color: black;
  padding: 8px 19px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.navbar-auth {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

#hamburger-menu {
  display: none;
  color: #fff;
}

/* Section */
.Section {
  margin-top: 150px;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.subheading {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

.search-input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.film-link {
  display: block;
}

.film-link.show {
  display: block;
}

.wrapper-card {
  margin-top: 60px;
}

.trending {
  margin-left: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.film-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.film-link:hover {
  color: var(--color-accent);
}

.film-image {
  width: 100%;
  max-height: 16rem;
  object-fit: cover;
}

.film-title {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .anime-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .menu-heading {
    font-size: 36px;
  }

  .search-input {
    font-size: 18px;
    width: 50%;
  }
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
    -webkit-transform: scaleX(0.2);
    -moz-transform: scaleX(0.2);
    -ms-transform: scaleX(0.2);
    -o-transform: scaleX(0.2);
  }
}

/* Mobile    */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .section {
    right: 0;
  }
}
